{% extends 'main/base.html' %}
{% load static %}

{% block content %}

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-12 m-md-4">
        <h1 class="featurette-heading fw-normal lh-1">{{object.count_mailing}} </h1>
        <h1 class="featurette-heading fw-normal lh-1">{{object.count_mailing_active}} </h1>
        <h1 class="featurette-heading fw-normal lh-1">{{object.count_unique_client}} </h1>
      </div>
        {% for object in blog_random %}
        <div class="col-md-12 m-md-4">
            <h2 class="featurette-heading fw-normal lh-1">{{object.title}} </h2>
            <p class="lead">{{object.context|linebreaks|truncatewords:10}}</p>
        </div>
        {% endfor %}
    </div>

    <hr class="featurette-divider">



{% endblock %}